body {
  @apply bg-gray-100 bg-gradient-to-b from-gray-100 to-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Norican', cursive;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.content-wrapper {
  @apply min-h-screen pb-6;
}

/** article page content */
.article-content {
  @apply px-3 mx-auto prose lg:prose-lg max-w-none md:px-0 xl:px-0;
}

.article-content > h1.article-h1,
.gm-h {
  @apply text-5xl mb-9 md:text-7xl;
}

.article-content p {
  @apply my-2;
}

.article-content .article-body > p {
  @apply my-6 lg:my-8;
}

/** only for home **/
.home .article-h1 {
  @apply hidden;
}

/** btn */
.gm-btn {
  @apply inline-flex items-center justify-center w-auto px-4 py-2 text-white bg-accent;
}

/** icon */
.gm-icon span {
  @apply absolute top-[-1000px] left-[-1000px];
}

.gm-facebook-icon {
  @apply bg-no-repeat bg-contain bg-facebook;
}

.gm-instagram-icon {
  @apply bg-no-repeat bg-contain bg-instagram;
}

/** carousel flickity */
.flickity-page-dots {
  @apply w-full m-0 max-w-full bottom-[-3rem] flex justify-center items-center;
}

.flickity-page-dots li.dot {
  @apply h-1 text-xs rounded-none;
}

.flickity-page-dots li.dot:before {
  @apply hidden;
}

.gm-is-inner {
}
