<div class="wp-block-gm-events">
  {% include 'partial/events-list.twig' with {'isBlock' : true} %}
  <div class="gm-events_link-list">
    <a class="btn-arrow btn-icon-after" href="{{ link_list_events }}" title="{{ __( 'See all events', 'goodmotion-theme') }}">{{ __( 'See all events', 'goodmotion-theme') }}</a>
  </div>
</div>
